<nav-bar></nav-bar>

<hr>

<div class=""container">
    <div class="col-md-12">
        <h1>{{artists.name}}</h1>
        <h4>{{artists.bio}}</h4>
        <p  ng-repeat="gigs in artists._embedded.gigs">{{gigs.name}} du {{gigs.start_date | date : "dd-MM-yy @h:mma"}} au {{gigs.end_date | date : "dd-MM-yy @h:mma"}} au {{gigs.venue}} à l'adresse: {{gigs.address}}</p>
        <p ng-show="artistDetail._embedded.gigs[0].facebook_link">Facebook: {{artistDetail._embedded.gigs[0].facebook_link}}</p>
        <hr>
    </div>
</div>

<pagi-nation></pagi-nation>

<foo-ter></foo-ter>