<nav-bar></nav-bar>

<div class="container" ng-repeat="artist in artists._embedded">
    <div class="col-md-12" >

        <h2>{{artist.name}}: {{artist._embedded.gigs[0].name | uppercase}}</h2>
         <p>Cet événement aura lieu au {{artist._embedded.gigs[0].venue}} à l'adresse suivante: {{artist._embedded.gigs[0].address}}</p>
        <p>Concert du {{artist._embedded.gigs[0].start_date | date : "dd-MM-yyyy @ h:mma"}} au {{artist._embedded.gigs[0].end_date | date : "dd-MM-yyyy"}}</p>

        <hr>

    </div>
</div>
<pagi-nation></pagi-nation>

<foo-ter></foo-ter>
