<div class="row text-center">
    <div class="col-lg-12">
        <ul class="pagination">

            <li>
                <a href="#">&laquo;</a>
            </li>
            <li >
                <a href="#/artists">1</a>
            </li>
            <li>
                <a href="#/labels">2</a>
            </li>
            <li>
                <a href="#/concerts">3</a>
            </li>
            <li>
                <a href="#">&raquo;</a>
            </li>

        </ul>
    </div>
</div>
<hr>


